<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Soft Computing - Muhammad Rizki Ramadhani</title>

    <!-- Style dan Script -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <h1 class="judul">Tugas Soft Computing<br>Muhammad Rizki Ramadhani</h1>
    </header>

    <!-- DAFTAR TUGAS -->
    <section class="daftar">
        <h2>Daftar Hasil Tugas</h2>
        <ul>
            {% for file, nama in tugas_list %}
            <li>
            <span>{{ nama }}</span>
            <a href="{{ url_for('run_python', filename=file) }}" class="btn">Lihat Hasil</a>
            </li>
            {% endfor %}

        </ul>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>© 2025 Muhammad Rizki Ramadhani | Website Tugas Soft Computing</p>
    </footer>
</body>
</html>
